* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif !important;
}

.img-search {
    height: 15px;
    width: 15px;
}

.inpu-search {
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
}

.btn-search {
    border: none;
    height: 32px;
    width: 32px;
    background-color: white;
}

.form-search {
    margin: 0px;
    padding: 0;
    border: 1px solid #ebf0f4;
    border-radius: 3px;
    width: 240px;
    height: 46px;
}

.heading {
    margin-top: 25px;
}

.register {
    color: #99acbc;
    text-decoration: none;
    border-bottom: 1px dotted #99acbc;
    margin-right: 20px;
    margin-left: 40px;
}

.login {
    color: #5c6f7f;
    background-color: #ebf0f4;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    border-radius: 5px;
}

.menu {
    margin-top: 30px;
    background-color: #015293;
    height: 55px;
}

.menu-ul li {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.list-black {
    background-color: rgba(8, 46, 77, 0.95);
}

.menu-ul {
    padding: 0;
}

.row-menu {
    padding-top: 10px;

}

.text-orange li a:hover {
    color: orange;
}

.text-orange a:hover {
    color: orange;
}

.text-orange:hover {
    color: orange;
}

.link a {
    text-decoration: none;
    color: white;
}

.white-text a {
    color: white;
}

.menu-row {
    font-size: 14px;
}

.menu-row a {
    color: #015293;
    text-decoration: none;
    padding: 0 5px;
}

.menu-row a:hover {
    border-bottom: 1px solid #015293;
}

.menu-row {
    padding-top: 20px;
}

.back {
    padding-top: 20px;
    float: right;
    color: #5c6f7f;
    text-decoration: none;
}

.back:hover {
    color: #343e46;
    border-bottom: 1px solid #343e46;
}

.back::before {
    content: "<";
}

.hr-style {
    color: rgb(136, 136, 136);
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
.eye-img{
    width: 25px;
    height: 15px;
    float: left;
    margin-right: 6px;
    margin-top: 5px;
}

.eye-list{
    list-style-type: none;
}

.eye-text{
    display: inline-block;
    margin-right: 10px;
    color: #5c6f7f;
}

.star{
    list-style-type: none;
    
}

.star-text{
    text-decoration: none;
    float: right;
    color:  rgb(213 213 213);;
    height: 40px;
    width: 24px;
    font-size: 30px;
}

.star-text:hover{
    color: yellow;
}

.content{
    width: 360px;
    height: 235px;
    float: left;
}

.h1-content{
    font-size: 28px;
    color:#13334b;
    line-height: 2.5rem;
    font-weight: 400
}

.content-img{
    width: 18px;
    height: 18px;
    float:left;
}

.content-ulist{
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-list{
    float: left;
}

.text-content{
    float: left;
    font-weight: 400;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 5px;
}

.content-text{
    margin: 0;
    clear: both;
    font-size: 14px;
    padding-bottom: 10px;
}

.childe-chulist{
    list-style-type: "-";
    padding-left: 0;
}

.fix-content-text{
    padding-bottom: 0;
}

.price-text{
    font-size: 24px;
    font-weight: 600;
}

.price-link{
    padding: 12px 40px;
    background-color: #ea831d;
    color: white;
    display: inline-block;
    margin-right: 20px;
}

.price-link:hover{
    color: #fff;
    background-color: #d3771c;
}

.lizing-link{
    padding: 10px 40px;
    background-color: #fff;
    border: 2px solid #5F6F7D;
    color: #5F6F7D ;
}

.lizing-link:hover{
    color: white;
    background-color: #5F6F7D;
}

.button{
    text-decoration: none;
    display: inline-block;
    text-align: center;     
    border-radius: 5px;
    font-weight: 700;
}

.button-adres{
    font-size: 14px;
    background-color: #5ab772;
    color: white;
    font-weight: 400;
    line-height: 5px;
    padding: 16px 80px;
    margin-bottom: 10px;
}

.button-adres:hover{
    color: white;
    background-color: #4d9c61;
}

.show-phone{
    width: 150px;
    height: 5px;
}

.report-img{
    width: 16px;
    height: 16px;
}

.report-link{
    font-size: 14px;
    color: #FB5252;
    float: right;
    text-decoration: none;
    margin-bottom: 20px;
}

.report-link:hover{
    color: #ca4444;
}

.circle{
    float: left;
    width: 45px;
    height: 45px;
    background-color: #E4EAEE;
    border-radius: 50%;
    margin: 0 40px ;
    text-align: center;
    padding-top: 8px;
    position: relative;
    
}

.circle-img{
    width: 25px;
    height: 25px;
}

.circle-text{
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: -45px;
    right: -28px;
}

.h1-tab-opis{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.p-tab-opis{
    font-size: 14px;
    margin-bottom: 0;
}


.contact-btn{
    background-color: #5ab772;
    color: white;
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 30px;
}

.contact-btn:hover{
    color: white;
    background-color: #49975d;
}

.p-tab-opis{
    list-style-type: decimal;
    padding-left: 30px;
}

.margin-p{
    margin: 50px 0;
}

.tabs-margin{
    margin-top: 40px;
}

.tab-content-text{
    color: #13334b;
}

.tab-content,
.active,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #f2f6f9 !important;
}


.nav-tabs{
    background-color: #e7ebee  ;
    border-radius: 5px;   
}

.h1-device{
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.device-menu{
    display: inline-block;
    list-style-type: none;
    padding-bottom: 30px;
}
.menu-device-list{
    display: inline-block;
    margin: 0 15px;
    border-bottom: 1px dotted #ad3838;
}

.menu-device-list:hover{
    border-bottom: none;
}

.menu-device-link:hover{
    color: #ad3838;
}
.menu-device-link{
    text-decoration: none;
    color: #ad3838;

}

.device-p{
    margin: 0;
    font-size: 14px;
    float: left;
}

.product1-img{
    width: 170px;
    height: 110px;
    float: left;
    margin-bottom: 30px;
}

.height-product-img{
    height: 194px;
}

.product-link1{
    display: inline-block;
    font-size: 16px;
    color:#015293;  
    margin-bottom: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 1;
    max-width: 600px;
}

.product-link1:hover{
    margin-bottom: 4px;
    border-bottom: 1px solid  #015293;
}



.product-text{ 
    float: left;
    font-size: 13px;
    padding-left: 30px;
    padding-top: 30px;
    color: #767676;
}

.product-textfix{
    padding-top: 0;
}

.product-link2{
    color: #767676  ;
}

.product-link2:hover{
    color: #767676 ;
    text-decoration: none;
}

.product-text-price{
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #282828;
}

.show-all-device{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #8c9094;
    border-bottom: 1px solid #8c9094;
    margin-bottom: 20px;
}

.show-all-device:hover{
    color: #8c9094;
    border-bottom:none;
}

.show-all-device::after{
    content: " >";
}


.carousel{
    background-color: #f2f5f8;
    width: auto;
    height: 512px;
}

.footer{
    background-color: #13334b;
}

.menu-footer{
    list-style-type: none;
    padding: 20px;
}
.footer-menu-list{
    float: left;
}
.footer-menu-link{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
}
.footer-menu-link:hover{
    color: orange;
}

.dropdown{
    margin-bottom: 40px;
}

.main-footer{
    background-color: #0a2941;
    padding-bottom: 20px;
}

.footer-text{
    color: #7693a8;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding-top: 20px;
}

.footer-main-img{
    max-width: 88px;
    max-height: 31px;
}

.footer-link{
    color: #b8c6d4;
    text-decoration: none;
}

.footer-link:hover{
    color: #b8c6d4;
    border-bottom: 1px solid #b8c6d4;
}

.footer-img-link{
    margin-top: 20px;
}

.footer-img-link{
    margin-right: 10px;
    opacity: 0.5;
}

.footer-img-link:hover{
    opacity: 1;
}




.btn-secondary{
    background-color: #13334b !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px dotted #fff  !important;;
}

.btn-secondary:hover{
    border: none !important;
}